#categoryquestions .questionname {
	width: 35%;
}/*
#categoryquestions .tagcloud {
	width: 15%;
	white-space:normal;
	word-wrap:break-word;
}
.categorypagingbarcontainer {
	visibility:hidden;
}*/
/*.addbtn_and_searchbox {
	width: 100%;
}
.addbtn_and_searchbox .singlebutton {
	float:left;
}
.addbtn_and_searchbox .searchbox {
	float:right;
}
.addbtn_and_searchbox:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}*/

/* Minified Question Base Styles */
#qheader .examcategorycontainer {
	width: 45%;
	float:left;
}
#qheader .categoryquestionscontainer {
	width: 55%;
	float:right;
}
#qheader #categoryquestions .questionname {
	width: 98%;
}
#qheader ul {
	list-style-type: none;
	background-color: rgb(228, 228, 228);
	padding: 0px 0px 0px 10px;
	margin: 0px;
	border-left:1px solid darkgrey;
}
#qheader li {
	padding: 3px;
	margin: 0px;
}
#qheader li.q {
	background-color: ghostwhite;
}
#qheader li.q img {
	vertical-align: middle;
	margin: 0px 7px 0px 5px;
}
#qheader input {
	margin: 4px;
}
#qheader input[type='image'] {
	height:8px;
	margin:0px 4px;
}
#qheader .examcategorycontainer input[type='checkbox'] {
	margin:0;
	float: right;
}

/* Autocomplete dropdown styles */
.autocomplete-w1 {
	position: absolute;
	top: 5px; left: 0px;
	margin: 6px 0 0 6px;
}
.autocomplete {
	border: 1px solid #999;
	background: #FFF;
	cursor: default;
	text-align: left;
	max-height: 350px;
	overflow: auto;
	margin: -6px 6px 6px -6px;
}
.autocomplete .selected {
	background: lightgray;
}
.autocomplete div {
	padding: 5px 10px;
	white-space: nowrap;
	overflow: hidden;
}
.autocomplete strong {
	font-weight: normal;
	color: cornflowerblue;
}

/* ------------ Multiselect ------------------ */
.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }

/* ------------ Question Bank ---------------- */
.qbank_config {
    display: inline-block;
    width: 30%;
    min-width: 240px;
    vertical-align: top;
}
.addbtn{
    display: inline-block;
	float:right;
    width: 20%;
}
.qbank_cat_desc {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    font-style: italic;
}
#form_column_select {
    display: inline;
}
#column_select {
    width:450px;
}
.column_select_box {
    width: 455px;
}
.block_search {
    float: right;
    min-width: 400px;
    padding: 5px;
    background-color: #EEEEEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
}
.search_part {
    float: right;
    margin-right: 2px;
}
.clear {
    clear:both;
}
#input_question_search_text{
    padding: 2px 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #FFFFFF; 
}
#input_question_search_text:focus {
    background-color: #EFF5FB;
}
/* question table */
.tags_container {
    white-space: normal;
}
.categoryquestionscontainer {
    background: #fff;
    overflow: hidden;
    border: 1px solid #8C8C8C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
}
.categoryquestionscontainer table {
    border-collapse: collapse;
}
.categoryquestionscontainer table td, #categoryquestionscontainer table th {
    padding: 3px 10px;
}
.categoryquestionscontainer table thead th {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #AAAAAA), color-stop(1, #888888) );
	background: -webkit-linear-gradient( center top, #AAAAAA 5%, #888888 100% );
	background: -moz-linear-gradient( center top, #AAAAAA 5%, #888888 100% );
	background: -o-linear-gradient( center top, #AAAAAA 5%, #888888 100% );
	background: -ms-linear-gradient( center top, #AAAAAA 5%, #888888 100% );
	background: linear-gradient( center top, #AAAAAA 5%, #888888 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorstr='#888888');
	background-color: #AAAAAA;

    color: black;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #A3A3A3; 
}
.categoryquestionscontainer table tbody .alt td {
    background: #EBEBEB; color: #7D7D7D;
}
.categoryquestionscontainer table thead th:first-child { border: none; }
.categoryquestionscontainer table tbody td:first-child { border-left: none; }
.categoryquestionscontainer table tbody tr:last-child td { border-bottom: none; }
.categoryquestionscontainer tr:hover td {
    background-color: lightsteelblue;
}
.categoryquestionscontainer a {
    color: white;
}